* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  font-family: sans-serif;
}

.uppercloud {
  position: absolute;
  top: 80px;
  right: 140px;
}
.lowercloud {
  position: absolute;
  left: 150px;
}

h1 {
  color: #fffaff;
  font-family: "Quintessential", cursive;
}

.top {
  padding-top: 100px;
  background-color: #30bced;
  position: relative;
}

.intro {
  width: 300px;
  margin: auto;
  position: static;
  text-align: left;
  font-family: "Quicksand", sans-serif;
}
.middle-section {
  margin: 50px auto;
  width: 50%;
  text-align: left;
}
.img1 {
  height: 30%;
  width: 25%;
  border-radius: 50%;
  float: left;
  margin-right: 30px;
}
.p1 {
  text-align: left;
  line-height: 1.5;
  margin-bottom: 50px;
}

.img2 {
  float: right;
  margin: 0 0 30px 30px;
  height: 25%;
  width: 25%;
}

.p2 {
  text-align: left;
  line-height: 1.5;
}

footer {
  margin: 50px auto;
}
